* {
    margin: 0;
    padding: 0;
    font-family: 'Chakra Petch', sans-serif;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    list-style: none;
    transition: all .3s linear;
}

html {
    overflow-x: hidden;
    font-size: 100%;
}

body {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.container-fluid {
    padding: 0%;
    width: 100%;
}

nav {
    background-color: rgba(0, 0, 0, .5);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: .1% 0.2%;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1000;
    box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.3);
}

.logo {
    flex-basis: 25%;
    padding-left: 1%;
    display: flex;
}

.navcontent {
    flex-basis: 100%;
    display: flex;
    align-self: flex-end;
    list-style: none;
    color: white;
    justify-content: space-around;
    align-items: center;
}

nav li {
    font-weight: 700;
}

nav a {
    color: white;
    text-decoration: none;
    font-size: 1rem;
    border-radius: 2px;
}

.intro {
    justify-content: center;
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.intro h5{
    font-style: italic;
    font-size: 1.4rem;
}
.intro h4{
    font-size: 1.7rem;
}
.fa-smile-wink {
    color: red;
    font-size: 2rem;
    border-radius: 6px;
}

#home {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 61vh;
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.863), rgba(255, 255, 255, 0.938)), url("img/unsplash/bg1.jpg");
    background-size: contain;
}

.menu {
    border-radius: 4px;
    color: white;
    background-color: red;
    font-size: 1.5em;
    font-weight: 900;
    margin-top: 1.5rem;
    padding: 0.4% 2%;
    border: transparent;
}
.menu a{
    color: white;
}
.menu a:hover{
    color: black;
    text-decoration: none;
    font-size: 1.3rem;
    padding: .4rem .6rem;
    text-align: center;
}

#about-us{
    display: flex;
    flex-direction: column;
    padding: 2rem;
    width: 100%;
    margin-bottom: 2%;
}
.y{
    flex-basis: 100%;
}
.x{
    display: flex;
    flex-direction: column;
}
.z {
    flex-basis: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.one{
    background-image: url("img/unsplash/pizza3.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    flex-basis: 100%;
}
.two{
    background-image: url("img/pic10.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    flex-basis: 100%;
}
#about-us p{
    font-size: 2rem;
    font-style: italic;
    font-weight: 200;
}
.brief{
    color: red;
}
#about-us .card{
    padding: 1%;
    font-size: 1.8rem;
    flex-basis: 100%;
    align-items: center;
    justify-content: space-around;
}
#about-us .fas{
    color: red;
    font-size: 1.3rem;
}

.newsletter {
    padding: 1.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    width: 100%;
    align-self: baseline;
    justify-self: baseline;
    background: red;
    background-size: cover;
    background-blend-mode: overlay;
    background-repeat: no-repeat;
    border-radius: 0%;
}
.newbtn{
    background-color: black;
    color:white;
    outline: 2px solid;
    letter-spacing: .2rem;
}
footer{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    background-color: black;
}
.quick-links{
    background-color: black;
    width: 95%;
    padding: 2% 4% 0% 4%;
    display: flex;
    justify-content: center;
    color: white;
    font-weight: 700;
    font-size: .9rem;
}
.quick-links li::before{
    content: "\00BB   ";
}
.quick-links .social-media li::before{
    content: " ";
}
.quick-links .col-md-3{
    text-align: left;
    flex-basis: 30%;
}

.quick-links h4{
    color: red;
}
.copyright{
    background-color: rgb(16, 16, 22);
    width: 100%;
    padding: .5%;
    font-size: .8rem;
    flex-basis: 100%;
    margin: 0%;
    color: rgb(156, 156, 156);
    font-weight: 200;
}
.copyright a{
    color: red;
    letter-spacing: .21rem;
    margin-left: 1%;
}
.copyright:hover{
    font-size: 1.2rem;
    margin-bottom: 2rem;
}
.fa-shopping-basket{
    color: red;
    background-color: rgba(255, 255, 255, 0.87);
    padding: 10%;
    border-radius: 25px;
    font-size: 1.5rem;
}
.sub{
 background-color: black;
 padding: 1rem;
 display: flex;
 align-items: center;
 gap: 1%;
 justify-content: center;
}
.sub .fas{
    color: white;
    border-radius: 0%;
}
.sub .btn{
    border-radius: 0%;
    outline: 2px solid;
}
nav a:hover, footer a:hover {
    color: white;
    font-size: 1.3rem;
    padding: .4rem .6rem;
    text-align: center;
    box-shadow: 0px .1px 1px white;
    text-decoration: none;
}
footer a:hover {
    color: red;
    font-size: 1.1rem;
    padding: .1rem .2rem;
    text-align: center;
    box-shadow: 0px .1px 1px white;
    text-decoration: none;
}
footer a{
    color: white;
}
.disabled{
    pointer-events: none;
}
.feedback{ 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.feed{
    margin-top: 5.5rem;
    font-weight: 900;
}
.contain{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    width: 80%;
    align-items: center;
    margin: .5%;
}
.feedback .row{
    flex-basis: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.feedback form{
    width: 80%;
}
.feedback nav{
    background-color: black;
}
.menu-body{
    margin-top: 6rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.911), rgba(255, 255, 255, 0.705)), url("img/toppins.jpg");
    /* background: url("img/toppins.jpg"); */
    background-size: cover;
}
.menu-body .card{
    display: flex;
    text-align: left;
    align-items: center;
    justify-content: center;
    margin: 1rem;  
    box-shadow: 0px 0px 15px black; 
    border-radius: 4px;
    padding: .1%;
}
.card-body{
    padding: 0%;
    width: 96%;
}
.card-title{
    font-weight: 900;
    color: red;
}
.card-text{
    color: white;
    background-color: black;
    padding: 1% 4%;
    font-size: .8rem;
}

.group-em{
    display: flex;
    justify-content: space-between;
}
.choices{
    font-size: .8rem;
    margin-top: 2%;
    width: 90%;
    display: flex;
    align-content: center;
    justify-content: center;
    padding: 1%;
}
.choices label{
    font-weight: 700;
    padding: 0%;
    margin: 0%;
}
.btn-cust2{
    background-color: black;
    padding: 1% 4%;
    border-radius: 2px;
    color: white; 
    font-weight: 900;
    font-size: .8rem;
}
.form-x{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.toppings{
    font-size: .8rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    justify-content: space-around;
}
.toppings .title{
    margin-top: 2%;
    font-weight: 700;
}
.card .btn-cust{
    font-size: .8rem;
    font-weight: 700;
}