* {
    margin: 0;
    padding: 0;
    font-family: 'Chakra Petch', sans-serif;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    list-style: none;
    transition: all .3s linear;
}

html {
    overflow-x: hidden;
    font-size: 100%;
}

body {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.container-fluid {
    padding: 0%;
    width: 100%;
}

nav {
    background-color: rgba(0, 0, 0, .5);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: .1% 0.2%;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1000;
    box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.3);
}

.logo {
    flex-basis: 25%;
    padding-left: 2%;
    display: flex;
}

.navcontent {
    flex-basis: 100%;
    display: flex;
    align-self: flex-end;
    list-style: none;
    color: white;
    justify-content: space-around;
    align-items: center;
}

nav li {
    padding: 0 4%;
    font-weight: 700;
}

nav a {
    color: white;
    text-decoration: none;
    font-size: 24px;
    border-radius: 2px;
}

.intro {
    padding-top: 15rem;
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.intro h5{
    font-style: italic;
    font-size: 1.4rem;
}
.intro h4{
    font-size: 1.7rem;
}
.fa-smile-wink {
    color: red;
    font-size: 2rem;
    border-radius: 6px;
}

#home {
    width: 100%;
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.863), rgba(255, 255, 255, 0.938)), url("img/unsplash/bg1.jpg");
    background-size: contain;
}

.menu {
    border-radius: 4px;
    color: white;
    background-color: red;
    font-size: 1.5em;
    font-weight: 900;
    margin-top: 1.5rem;
    padding: 0.4% 2%;
    border: transparent;
    animation: mymove 10s;
}

.newsletter {
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background: red;
    flex-basis: 100%;
    background-size: cover;
    background-blend-mode: overlay;
    background-repeat: no-repeat;
}
.newbtn{
    background-color: black;
    color:white;
    letter-spacing: .2rem;
}